extends hintLayout

block content
	.gamecontainer(ng-controller="HintPageController as hintCtrl")
		if(session.guessSubmitError)
			p= session.guessSubmitError
		.hintcontainer
			div(style="font-size:13px") Your hint is: 
			div(style="font-size:35px") "#{session.heldHintObject.hintText}"	
			div(style="font-size:13px") Hint supplied by: #{session.heldHintObject.author} 
		br/
		form(method="post" action="guessSubmit")
			input(id="img1" type="radio" class='radio' name='group1' value="1")
			label.imgbox(for="img1" id="1" ng-click="hintCtrl.showSubmitBox()") <img src=#{imgList.ImgUrl1} class='hintimg'>
				x(for="img1" id="1" class='magnify') <img src="images/maglass.png" class="maglass" id="1">
			input(id="img2" type="radio" class='radio' name='group1' value="2")
			label.imgbox(for="img2" id="2" ng-click="hintCtrl.showSubmitBox()") <img src=#{imgList.ImgUrl2} class="hintimg">
				x(for="img2" id="2" class='magnify') <img src="images/maglass.png" class="maglass" id="2">
			input(id="img3" type="radio" class='radio' name='group1' value="3")
			label.imgbox(for="img3" id="3" ng-click="hintCtrl.showSubmitBox()") <img src=#{imgList.ImgUrl3} class="hintimg">
				x(for="img3" id="3" class='magnify') <img src="images/maglass.png" class="maglass" id="3">
			input(id="img4" type="radio" class='radio' name='group1' value="4")
			label.imgbox(for="img4" id="4" ng-click="hintCtrl.showSubmitBox()") <img src=#{imgList.ImgUrl4} class="hintimg">
				x(for="img4" id="4" class='magnify') <img src="images/maglass.png" class="maglass" id="4">
			input(id="img5" type="radio" class='radio' name='group1' value="5")
			label.imgbox(for="img5" id="5" ng-click="hintCtrl.showSubmitBox()") <img src=#{imgList.ImgUrl5} class="hintimg">
				x(for="img5" id="5" class='magnify') <img src="images/maglass.png" class="maglass" id="5">
			input(id="img6" type="radio" class='radio' name='group1' value="6")
			label.imgbox(for="img6" id="6" ng-click="hintCtrl.showSubmitBox()") <img src=#{imgList.ImgUrl6} class="hintimg"> 
				x(for="img6" id="6" class='magnify') <img src="images/maglass.png" class="maglass" id="6">
			<br />
			.hintcontainer(style="width:230px" ng-show="hintCtrl.revealed")
				input(type="submit" id='submitBox' value="Make guess!")