extends hintLayout

block content
	.gamecontainer
		if(session.coins < 4)
			div(style="font-size:30px")
				p Sorry, you need four coins to make a new hint. 
				p Try guessing other people's hints!
		else
			if(session.hintSubmitError)
				p= session.hintSubmitError
			form(method="post" action="/hintSubmit")
				.imgbox <img src=#{imgList.ImgUrl1} class='hintimg'>
				.imgbox <img src=#{imgList.ImgUrl2} class="hintimg">
				.imgbox <img src=#{imgList.ImgUrl3} class="hintimg">
				.imgbox <img src=#{imgList.ImgUrl4} class="hintimg">
				.imgbox <img src=#{imgList.ImgUrl5} class="hintimg">
				.imgbox <img src=#{imgList.ImgUrl6} class="hintimg"> 
				<br />
				input(id="img1" type="radio" class='radio' name='group1' value="1")
				label(for="img1" id="1" class='selbox') Select
				input(id="img2" type="radio" class='radio' name='group1' value="2")
				label(for="img2" id="2" class='selbox') Select
				input(id="img3" type="radio" class='radio' name='group1' value="3")
				label(for="img3" id="3" class='selbox') Select
				input(id="img4" type="radio" class='radio' name='group1' value="4")
				label(for="img4" id="4" class='selbox') Select
				input(id="img5" type="radio" class='radio' name='group1' value="5")
				label(for="img5" id="5" class='selbox') Select
				input(id="img6" type="radio" class='radio' name='group1' value="6")
				label(for="img6" id="6" class='selbox') Select
				
				.hintcontainer
					table(width="1000px")
						tr
							td(width="480")
								|Hint: <input class="hint" type="text" name="hint">
							td
								input(type="submit" id='submitBox' value="Make hint!")
