extends registerLayout

block content
	#windowWrap
		.queuePage
			.queueTable
				#leftColumn
					#leftColumnTitle(style="font-size:50px") New User
					img(src="images/icon thinking.png").leftColumnIcon
				#rightColumn
					.registerRightColumn
						x(style="font-size:27px;width:100%;text-align:left;display:block;")
							|Please supply a username, password, and a security question in case you forget.
								
						form.registerRightColumnForm(method="post")
							table(style="width:100%")
								tr
									td.registerRightColumnPadding
										|Username: 
										<br>
										input(type="text" name="usernameSubmit")
										if(session.usernameError)
											.error= session.usernameError
								tr
									td.registerRightColumnPadding
										|Password: 
										<br>
										input(type="password" name="passwordSubmit")
										if(session.password1Error)
											.error= session.password1Error
									td.registerRightColumnPadding
										|Password again: 
										<br>
										input(type="password" name="passwordSecondSubmit")
										if(session.password2Error)
											.error= session.password2Error
								tr
									td.registerRightColumnPadding
										|Security hint: 
										<br>
										input(type="text" name="passwordHintSubmit" placeholder='ex. "What is delicious?"')
										if(session.hintError)
											.error= session.hintError
									td.registerRightColumnPadding
											|Security answer: 
											<br>
											input(type="text" name="passwordAnswerSubmit" placeholder='ex. "Candy"')
											if(session.answerError)
												.error= session.answerError
							div
								input.registerRightColumnPadding(type="submit" value="Register" style="margin-right:10px margin-top:100px")  

								p= session.userName